.notification-contain {
  width: 370px;
  right: 0;    
  overflow-y: scroll;
  max-height: 450px;
  position: absolute;
  border: 1px solid #5d5d63;
  display: inherit !important;
  padding: 0;
}
.notify-detail {
  width: 100%;
  border: 1px solid #5d5d63;
}

#notify-scroll::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
}

#notify-scroll::-webkit-scrollbar
{
  width: 5px;
  background-color: #F5F5F5;
}

#notify-scroll::-webkit-scrollbar-thumb
{
  background-color: #ff5860;
}

.readClass{
  background-color: #5d5d63d6;
}
